<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

    <servers>
        <server>
            <id>snapshots</id>
            <name>hosted-maven-snapshots</name>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>releases</id>
            <name>hosted-maven-releases</name>
            <username>admin</username>
            <password>admin123</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>central</id>
            <name>group-maven-repo</name>
            <url>http://localhost:8081/repository/group-maven-repo/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
